.gitignore
.bash_history
.gdb_history
.gdbinit
.vscode
compile_flags.txt

compile.sh
run.sh

#Binary Files
*.bin
*.sys
*.elf

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

.cache
