.gitignore
.bash_history
.gdb_history
.gdbinit
.vscode
.vim
.config
.viminfo
compile_flags.txt

compile.sh
run.sh
.gdbinit

#Binary Files
*.bin
*.sys
*.elf

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

.cache


strace_out
report.tasks
PVS-Studio.log
PVS-Studio.config
PVS-Studio.cfg


.bashrc